<a href="https://colab.research.google.com/github/lunarways89/data-science-project/blob/main/MySkill/Data_Analysis_My_Skill_Short_Class_6_Jan_2024_Dhanu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Superstore Dataset

Import and display data

In [ ]:
import pandas as pd

dataset = pd.read_csv('superstore.csv')
print(dataset)

In [159]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [158]:
# Display the columns of the dataset
print("Columns in the dataset:")
print(dataset.columns)

Columns in the dataset:
Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

# List Section

In [44]:
# var list penampung nilai
ship_mode_list = dataset['Ship Mode'].unique()
state_list = dataset['State'].unique()
category_list = dataset['Category'].unique()
sub_category_list = dataset['Sub-Category'].unique()

In [ ]:
# menampilkaan value list
print('Ship Mode :', ship_mode_list)
print('State :', state_list)
print('Category :', category_list)
print('Sub-Category :', sub_category_list)

In [47]:
# menampilkaan value list tanpa kurung dan petik
print('Ship Mode :', ', '.join(ship_mode_list))
print('State :',  ', '.join(state_list))
print('Category :',  ', '.join(category_list))
print('Sub-Category :',  ', '.join(sub_category_list))

Ship Mode : Second Class, Standard Class, First Class, Same Day
State : Kentucky, California, Florida, North Carolina, Washington, Texas, Wisconsin, Utah, Nebraska, Pennsylvania, Illinois, Minnesota, Michigan, Delaware, Indiana, New York, Arizona, Virginia, Tennessee, Alabama, South Carolina, Oregon, Colorado, Iowa, Ohio, Missouri, Oklahoma, New Mexico, Louisiana, Connecticut, New Jersey, Massachusetts, Georgia, Nevada, Rhode Island, Mississippi, Arkansas, Montana, New Hampshire, Maryland, District of Columbia, Kansas, Vermont, Maine, South Dakota, Idaho, North Dakota, Wyoming, West Virginia
Category : Furniture, Office Supplies, Technology
Sub-Category : Bookcases, Chairs, Labels, Tables, Storage, Furnishings, Art, Phones, Binders, Appliances, Paper, Accessories, Envelopes, Fasteners, Supplies, Machines, Copiers

In [ ]:
# membuat tampilan table list

print("Ship Mode:")
print("-" * 12)  # separator line
for mode in ship_mode_list:
    print(f"| {mode:<10} |")  # Format each mode within a table-like structure
print("-" * 12)  # closing separator line

# Sets Section

In [39]:
# var sets penampung nilai
ship_mode_set = set(dataset['Ship Mode'].unique())

# menampilkaan sets sets
print('Ship Mode :', ship_mode_set)

Ship Mode : {'First Class', 'Second Class', 'Standard Class', 'Same Day'}

# Tuples Section

# Dictionary Section

# Conditional Statement Section

IF Statement

IF Else Statement

IF Elif Else Statement

Nested IF Statement

While Loop

For Loop

Function Section

# Data Analysis

## Performa Penjualan

In [106]:
# Penjualan Keseluruhan

# Menghitung total penjualan
total_sales = dataset['Sales'].sum()

# Memformat total sales ke Rupiah
formatted_total_sales = f"Rp{total_sales:,.0f}"

# Hasil total sales dalam Rupiah
print(f"Total Sales: {formatted_total_sales}")

Total Sales: Rp2,297,201

In [59]:
# Penjualan berdasarkan Kategori/Sub-Kategori
category_sales = dataset.groupby('Category')['Sales'].sum()
print(category_sales)
print()

category_sales = dataset.groupby('Category')['Sales'].sum()

# Format dalam Indonesian Rupiah
formatted_sales = category_sales.apply(lambda x: f"Rp{x:,.0f}")

print(formatted_sales)

Category
Furniture          741999.7953
Office Supplies    719047.0320
Technology         836154.0330
Name: Sales, dtype: float64

Category
Furniture          Rp742,000
Office Supplies    Rp719,047
Technology         Rp836,154
Name: Sales, dtype: object

In [63]:
# Penjualan berdasarkan Wilayah/Negara Bagian/Kota
region_sales = dataset.groupby('Region')['Sales'].sum()
print(region_sales)
print()

# Format dalam Rupiah
region_sales = dataset.groupby('Region')['Sales'].sum()
formatted_sales = region_sales.apply(lambda x: f"Rp{x:,.0f}")
print(formatted_sales)

Region
Central    501239.8908
East       678781.2400
South      391721.9050
West       725457.8245
Name: Sales, dtype: float64

Region
Central    Rp501,240
East       Rp678,781
South      Rp391,722
West       Rp725,458
Name: Sales, dtype: object

In [ ]:
# Tren Penjualan dari Waktu ke Waktu
dataset['Order Date'] = pd.to_datetime(dataset['Order Date']) # convert 'order date' ke datetime object'
monthly_sales = dataset.groupby(dataset['Order Date'].dt.to_period('M'))['Sales'].sum()
print(monthly_sales)

In [ ]:
# Tren Penjuaan dengan format Rupiah

# Konversi 'Order Date' ke datetime objects
dataset['Order Date'] = pd.to_datetime(dataset['Order Date'])

# Menghitung monthly sales
monthly_sales = dataset.groupby(dataset['Order Date'].dt.to_period('M'))['Sales'].sum()

# Format index (Order Date) ke "Month Year"
monthly_sales.index = monthly_sales.index.to_timestamp().strftime('%B %Y')

# Format nilai sales ke Rupiah
monthly_sales_formatted = monthly_sales.apply(lambda x: f"Rp{x:,.0f}")

print(monthly_sales_formatted)

In [ ]:
# Tren Penjualan dari pesanan terbesar per bulan

#sorted_monthly_sales = monthly_sales.sort_values(ascending=False)
#print(sorted_monthly_sales)

# Mengekstrak nilai penjualan untuk pengurutan
sales_values = monthly_sales_formatted.str[2:].str.replace(',', '').astype(float)

# Urutkan berdasarkan nilai penjualan
sorted_monthly_sales = monthly_sales_formatted.iloc[sales_values.argsort()[::-1]]

print(sorted_monthly_sales)

In [87]:
# Produk Terlaris

# Penjualan Keseluruhan
total_sales = dataset['Sales'].sum()

# Format total_sales to Rupiah
formatted_total_sales = f"Rp{total_sales:,.0f}"

print(f"Total Sales: {formatted_total_sales}")

Total Sales: Rp2,297,201

In [93]:
# Produk Terlaris dari Kuantitas Terjual

# Group by product name and sum quantities
product_sales_quantity = dataset.groupby('Product Name')['Quantity'].sum()

# Urutkan menurun pesanan untuk menemukan top sellers
top_sellers_quantity = product_sales_quantity.sort_values(ascending=False)

# Menampilkan produk terlaris dengan jumlah tertentu
N = 10  # Dapat diubah untuk menentukan angka dari top sellers
print(f"Top {N} Best-Selling Products by Quantity Sold:")
print(top_sellers_quantity.head(N))

Top 10 Best-Selling Products by Quantity Sold:
Product Name
Staples                                                       215
Staple envelope                                               170
Easy-staple paper                                             150
Staples in misc. colors                                        86
KI Adjustable-Height Table                                     74
Avery Non-Stick Binders                                        71
Storex Dura Pro Binders                                        71
GBC Premium Transparent Covers with Diagonal Lined Pattern     67
Situations Contoured Folding Chairs, 4/Set                     64
Staple-based wall hangings                                     62
Name: Quantity, dtype: int64

In [99]:
# Produk terlaris berdasarkan Pendapatan (Total Penjualan)

# Kelompokkan berdasarkan nama produk dan jumlah penjualan
product_sales_revenue = dataset.groupby('Product Name')['Sales'].sum()

# Urutkan dalam urutan menurun untuk menemukan penjual teratas
top_sellers_revenue = product_sales_revenue.sort_values(ascending=False)

# Menampilkan produk terlaris N teratas berdasarkan pendapatan
N = 10  # Dapat diubah untuk menentukan angka dari top sellers
print(f"Top {N} Best-Selling Products by Revenue:")
print(top_sellers_revenue.head(N))

Top 10 Best-Selling Products by Revenue:
Product Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
HON 5400 Series Task Chairs for Big and Tall                                   21870.576
GBC DocuBind TL300 Electric Binding System                                     19823.479
GBC Ibimaster 500 Manual ProClick Binding System                               19024.500
Hewlett Packard LaserJet 3310 Copier                                           18839.686
HP Designjet T520 Inkjet Large Format Printer - 24" Color                      18374.895
GBC DocuBind P400 Electric Binding System                                      17965.068
High Speed Automatic Electric Letter Opener                                    17030.312
Name: Sales, dtype: float64

In [101]:
# Kelompokkan berdasarkan nama produk dan jumlah penjualan
product_sales_revenue = dataset.groupby('Product Name')['Sales'].sum()

# Urutkan dalam urutan menurun untuk menemukan penjual teratas
top_sellers_revenue = product_sales_revenue.sort_values(ascending=False)

# Format nilai sales ke Rupiah
top_sellers_revenue_rp = top_sellers_revenue.apply(lambda x: f"Rp{x:,.0f}")

# Menampilkan N produk terlaris berdasarkan pendapatan dalam Rupiah
N = 10  # Dapat diubah untuk menentukan angka dari top sellers
print(f"Top {N} Best-Selling Products by Revenue (in Rupiah):")
print(top_sellers_revenue_rp.head(N))

Top 10 Best-Selling Products by Revenue (in Rupiah):
Product Name
Canon imageCLASS 2200 Advanced Copier                                          Rp61,600
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    Rp27,453
Cisco TelePresence System EX90 Videoconferencing Unit                          Rp22,638
HON 5400 Series Task Chairs for Big and Tall                                   Rp21,871
GBC DocuBind TL300 Electric Binding System                                     Rp19,823
GBC Ibimaster 500 Manual ProClick Binding System                               Rp19,024
Hewlett Packard LaserJet 3310 Copier                                           Rp18,840
HP Designjet T520 Inkjet Large Format Printer - 24" Color                      Rp18,375
GBC DocuBind P400 Electric Binding System                                      Rp17,965
High Speed Automatic Electric Letter Opener                                    Rp17,030
Name: Sales, dtype: object

In [103]:
# Penjualan berdasarkan Segmen Pelanggan

# Kelompokkan berdasarkan segmen pelanggan dan jumlahkan penjualan
segment_sales = dataset.groupby('Segment')['Sales'].sum()

# Memformat nilai penjualan ke Rupiah
segment_sales_rp = segment_sales.apply(lambda x: f"Rp{x:,.0f}")

# Menampilkan penjualan berdasarkan segmen pelanggan dalam Rupiah
print("Sales by Customer Segment (in Rupiah):")
print(segment_sales_rp)

Sales by Customer Segment (in Rupiah):
Segment
Consumer       Rp1,161,401
Corporate        Rp706,146
Home Office      Rp429,653
Name: Sales, dtype: object

## Analisis Pelanggan

In [116]:
# Segmentasi Pelanggan
print("Segmentasi Pelanggan:")
print(dataset['Segment'].value_counts())

Segmentasi Pelanggan:
Segment
Consumer       5191
Corporate      3020
Home Office    1783
Name: count, dtype: int64

In [ ]:
# Lokasi Pelanggan (State)
print("Pelanggan berdasarkan Lokasi Pelanggan (State):")
print(dataset['State'].value_counts())

In [121]:
# Usia Pelanggan (Dengan asumsi memiliki kolom 'Usia Pelanggan')

# Jika tidak memiliki kolom usia, mungkin perlu menghitungnya dari data lain seperti tanggal lahir jika tersedia
if 'Usia Pelanggan' in dataset.columns:
    print("Usia Pelanggan:")
    print(dataset['Usia Pelanggan'].describe())
else:
    print("Informasi Usia Pelanggan tidak ditemukan dalam dataset.")

Informasi Usia Pelanggan tidak ditemukan dalam dataset.

In [122]:
# Hitung Nilai Pembelian Rata-rata
average_purchase_value = dataset['Sales'].sum() / dataset['Order ID'].nunique()

# Hitung Frekuensi Pembelian (dengan asumsi 'Tanggal Pesanan' dalam format datetime)
purchase_frequency = dataset.groupby('Customer ID')['Order Date'].nunique().mean()

# Perkirakan Umur Pelanggan (dalam bulan, Anda mungkin perlu menyesuaikannya)
# Ini adalah contoh sederhana; Anda mungkin memerlukan metode yang lebih canggih
customer_lifespan = 12 # Asumsikan rata-rata umur pelanggan 12 bulan

# Hitung CLTV
cltv = average_purchase_value * purchase_frequency * customer_lifespan

# Memformat CLTV ke Rupiah
formatted_cltv = f"Rp{cltv:,.0f}"

print(f"Perkiraan Nilai Pelanggan Seumur Hidup: {formatted_cltv}")

Perkiraan Nilai Pelanggan Seumur Hidup: Rp34,644

In [129]:
# Perputaran Pelanggan
# Churn adalah kehilangan pelanggan dari suatu bisnis/pelanggan yang berubah-ubah

import datetime

# Menentukan periode churn (misalnya, 6 bulan)
churn_period = datetime.timedelta(days=180)
churn_period_months = churn_period.days // 30  # Perkiraan bulan

# Dapatkan tanggal pembelian terbaru untuk setiap pelanggan
recency = dataset.groupby('Customer ID')['Order Date'].max()

# Hitung waktu sejak pembelian terakhir
time_since_last_purchase = datetime.datetime.now() - recency

# Identifikasi pelanggan yang berubah-ubah
churned_customers = time_since_last_purchase[time_since_last_purchase > churn_period].index

print(f"Jumlah pelanggan yang berubah: {len(churned_customers)}")
print(f"*Note: Dalam periode {churn_period_months} bulan")

Jumlah pelanggan yang berubah: 793
*Note: Dalam periode 6 bulan

In [154]:
import datetime
import pandas as pd

# Assuming 'dataset' is your DataFrame loaded from 'superstore.csv'

# Calculate Recency
recency = (datetime.datetime.now() - dataset.groupby('Customer ID')['Order Date'].max()).dt.days

# Calculate Frequency
frequency = dataset.groupby('Customer ID')['Order ID'].nunique()

# Calculate Monetary
monetary = dataset.groupby('Customer ID')['Sales'].sum()

# Get Customer Name
customer_name = dataset.groupby('Customer ID')['Customer Name'].first()

# Create RFM DataFrame with Customer Name and ID
rfm_df = pd.concat([recency, frequency, monetary, customer_name], axis=1)
rfm_df.reset_index(inplace=True)
rfm_df.columns = ['Customer ID', 'Recency', 'Frequency', 'Monetary', 'Customer Name']

# Define RFM score ranges
rfm_scores = {
    'Recency': [5, 4, 3, 2, 1],
    'Frequency': [1, 2, 3, 4, 5],
    'Monetary': [1, 2, 3, 4, 5]
}

# Function to assign RFM scores
def assign_rfm_score(value, score_ranges, metric):
    quantiles = rfm_df[metric].quantile([0.2, 0.4, 0.6, 0.8])
    if value <= quantiles[0.2]:
        return score_ranges[0]
    elif value <= quantiles[0.4]:
        return score_ranges[1]
    elif value <= quantiles[0.6]:
        return score_ranges[2]
    elif value <= quantiles[0.8]:
        return score_ranges[3]
    else:
        return score_ranges[4]

# Apply scoring and create RFMScore
for metric, scores in rfm_scores.items():
    rfm_df[f'{metric}Score'] = rfm_df[metric].apply(lambda x: assign_rfm_score(x, scores, metric))

# Gabungkan skor RFM ke dalam satu label segmen
rfm_df['RFMScore'] = rfm_df['RecencyScore'].astype(str) + rfm_df['FrequencyScore'].astype(str) + rfm_df['MonetaryScore'].astype(str)

# Mencetak segmen RFM dan jumlahnya
print("Customer Segments (RFM):")
print(rfm_df['RFMScore'].value_counts())

Customer Segments (RFM):
RFMScore
111    45
555    22
112    19
433    19
334    17
       ..
144     1
425     1
253     1
241     1
154     1
Name: count, Length: 113, dtype: int64

**Segmentasi Pelanggan dengan RTM**

*Recency* (R): Seberapa sering pelanggan melakukan pembelian (belakangan ini/recently).

*Frekuensi* (F): Seberapa sering pelanggan melakukan pembelian

*Moneter* (M): Berapa banyak uang yang dibelanjakan pelanggan.


Setiap metrik RFM diberi skor (biasanya dalam skala 1 hingga 5), di mana:

Skor *Recency* yang lebih tinggi (5) berarti pembelian yang lebih baru.

Skor *Frekuensi* yang lebih tinggi (5) berarti pembelian yang lebih sering.

Skor *Moneter* yang lebih tinggi (5) berarti pengeluaran yang lebih tinggi.

Dari contoh hasil score RTM diatas, yaitu :

RFMScore
*   155 694
*   145  53
*   135  34
*   125  12

155: Segmen ini mewakili pelanggan dengan skor Recency 1, skor Frequency 5, dan skor Monetary 5. Ini berarti pelanggan ini melakukan pembelian relatif lama tetapi telah melakukan banyak pembelian dan menghabiskan banyak uang di masa lalu.

Dari data diatas, bisa disimpulkan pelanggan dengan score **155** (berbelanja akhi-akhir ini melakukan pesanan yang sering dengan jumlah yang besar) yaitu sejumlah **694 pelanggan**.

Top 10 Customer dengan RTM Score 155 (bagus)

In [155]:
# Filter for customers with RFMScore 155
customers_155 = rfm_df[rfm_df['RFMScore'] == '155'].copy()

# Format 'Monetary' to Rupiah
customers_155.loc[:, 'MonetaryRp'] = customers_155['Monetary'].apply(lambda x: f"Rp{x:,.0f}")

# Display the top 10 customers with RFMScore 155
print("Top 10 Customers with RFMScore 155 (Monetary in Rupiah):")
print(customers_155[['Customer Name', 'Recency', 'Frequency', 'MonetaryRp']].head(10))

Top 10 Customers with RFMScore 155 (Monetary in Rupiah):
           Customer Name  Recency  Frequency MonetaryRp
34         Anna Häberlin     2975         12    Rp7,888
152          Clay Ludtke     2849         12   Rp10,881
232        Dennis Pardue     2923          9    Rp5,481
349     Jonathan Doherty     2959         11    Rp7,611
536  Maribeth Schnelling     2838         10    Rp7,444
669         Sanjit Chand     2914          9   Rp14,142

## Analisis Produk

In [163]:
# Profitabilitas Produk

# Group by product and sum profit
product_profit = dataset.groupby('Product Name')['Profit'].sum()

# Sort products by profit in descending order
most_profitable = product_profit.sort_values(ascending=False)

# Format profit to Rupiah
most_profitable = most_profitable.apply(lambda x: f"Rp{x:,.0f}")

# Display the most and least profitable products
print("Most Profitable Products (in Rupiah):")
print(most_profitable.head(10))  # Top 10 most profitable

print("\nLeast Profitable Products (in Rupiah):")
print(most_profitable.tail(10))  # Top 10 least profitable (which will be the bottom 10)

Most Profitable Products (in Rupiah):
Product Name
Canon imageCLASS 2200 Advanced Copier                                          Rp25,200
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind     Rp7,753
Hewlett Packard LaserJet 3310 Copier                                            Rp6,984
Canon PC1060 Personal Laser Copier                                              Rp4,571
HP Designjet T520 Inkjet Large Format Printer - 24" Color                       Rp4,095
Ativa V4110MDD Micro-Cut Shredder                                               Rp3,773
3D Systems Cube Printer, 2nd Generation, Magenta                                Rp3,718
Plantronics Savi W720 Multi-Device Wireless Headset System                      Rp3,696
Ibico EPK-21 Electric Binding System                                            Rp3,345
Zebra ZM400 Thermal Label Printer                                               Rp3,344
Name: Profit, dtype: object

Least Profitable Products (in Rupiah):
Product Name
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables    Rp-1,148
Balt Solid Wood Round Tables                                         Rp-1,201
Martin Yale Chadless Opener Electric Letter Opener                   Rp-1,299
Cisco TelePresence System EX90 Videoconferencing Unit                Rp-1,811
GBC DocuBind P400 Electric Binding System                            Rp-1,878
Bush Advantage Collection Racetrack Conference Table                 Rp-1,934
Chromcraft Bull-Nose Wood Oval Conference Tables & Bases             Rp-2,876
Cubify CubeX 3D Printer Triple Head Print                            Rp-3,840
Lexmark MX611dhe Monochrome Laser Printer                            Rp-4,590
Cubify CubeX 3D Printer Double Head Print                            Rp-8,880
Name: Profit, dtype: object

In [166]:
# Kinerja Produk

# Group by product and calculate metrics
product_performance = dataset.groupby('Product Name').agg({
    'Sales': 'sum',
    'Discount': 'mean',  # Average discount
    'Profit': 'sum'
})

# Format values to Rupiah and percentage
for col in ['Sales', 'Profit']:
    product_performance[col] = product_performance[col].apply(lambda x: f"Rp{x:,.0f}")
product_performance['Discount'] = product_performance['Discount'].apply(lambda x: f"{x:.1%}")  # Format as percentage with 1 decimal place

# Display the top 10 products' performance
print("Top 10 Product Performance (in Rupiah):")
print(product_performance.head(10))  # Display top 10

Top 10 Product Performance (in Rupiah):
                                                      Sales Discount Profit
Product Name
"While you Were Out" Message Book, One Form per...     Rp25    13.3%   Rp10
#10 Gummed Flap White Envelopes, 100/Box               Rp41    10.0%   Rp17
#10 Self-Seal White Envelopes                         Rp109     5.0%   Rp52
#10 White Business Envelopes,4 1/8 x 9 1/2            Rp489     5.7%  Rp223
#10- 4 1/8" x 9 1/2" Recycled Envelopes               Rp287     8.0%  Rp115
#10- 4 1/8" x 9 1/2" Security-Tint Envelopes          Rp147     7.5%   Rp65
#10-4 1/8" x 9 1/2" Premium Diagonal Seam Envel...    Rp176    10.0%   Rp64
#6 3/4 Gummed Flap White Envelopes                     Rp71    20.0%   Rp25
1.7 Cubic Foot Compact "Cube" Office Refrigerators  Rp2,706     6.7%  Rp579
1/4 Fold Party Design Invitations & White Envel...     Rp50    10.0%   Rp23

In [171]:
# Calculate total quantity sold for each product
product_quantity_sold = dataset.groupby('Product Name')['Quantity'].sum()

# Identify slow-moving products (e.g., products sold below a certain threshold)
slow_moving_threshold = 10  # Adjust this threshold as needed
slow_moving_products = product_quantity_sold[product_quantity_sold < slow_moving_threshold].sort_values().head(10) # Limit to top 10

# Calculate current stock levels using the 'Quantity' column
# Assuming 'Quantity' represents the total quantity ever ordered
current_stock = dataset.groupby('Product Name')['Quantity'].sum()

# Identify products with low stock levels (e.g., below a certain threshold)
low_stock_threshold = 5  # Adjust this threshold as needed
low_stock_products = current_stock[current_stock < low_stock_threshold].sort_values().head(10) # Limit to top 10

# Identify most stocked products (products with the highest quantity)
most_stocked_products = product_quantity.sort_values(ascending=False).head(10)

# Display results
print("Top 10 Slow-Moving Products:")
print(slow_moving_products)

print("\nTop 10 Low Stock Products:")
print(low_stock_products)

print("\nTop 10 Most Stocked Products:")
print(most_stocked_products)

Top 10 Slow-Moving Products:
Product Name
Xerox 20                                                                     1
Global Enterprise Series Seating Low-Back Swivel/Tilt Chairs                 1
Boston 1900 Electric Pencil Sharpener                                        1
Bush Saratoga Collection 5-Shelf Bookcase, Hanover Cherry, *Special Order    1
Penpower WorldCard Pro Card Scanner                                          1
Barricks Non-Folding Utility Table with Steel Legs, Laminate Tops            2
Ultra Commercial Grade Dual Valve Door Closer                                2
PNY Rapid USB Car Charger - Black                                            2
Xerox 1969                                                                   2
Avery 5                                                                      2
Name: Quantity, dtype: int64

Top 10 Low Stock Products:
Product Name
Penpower WorldCard Pro Card Scanner                                          1
Xerox 20                                                                     1
Global Enterprise Series Seating Low-Back Swivel/Tilt Chairs                 1
Boston 1900 Electric Pencil Sharpener                                        1
Bush Saratoga Collection 5-Shelf Bookcase, Hanover Cherry, *Special Order    1
Ultra Commercial Grade Dual Valve Door Closer                                2
PNY Rapid USB Car Charger - Black                                            2
NeatDesk Desktop Scanner & Digital Filing System                             2
Multimedia Mailers                                                           2
Memorex Mini Travel Drive 4 GB USB 2.0 Flash Drive                           2
Name: Quantity, dtype: int64

Top 10 Most Stocked Products:
Product Name
Staples                                                       215
Staple envelope                                               170
Easy-staple paper                                             150
Staples in misc. colors                                        86
KI Adjustable-Height Table                                     74
Avery Non-Stick Binders                                        71
Storex Dura Pro Binders                                        71
GBC Premium Transparent Covers with Diagonal Lined Pattern     67
Situations Contoured Folding Chairs, 4/Set                     64
Staple-based wall hangings                                     62
Name: Quantity, dtype: int64

## Pengiriman dan Logistik

In [174]:
# Analyze shipping cost by shipping mode (assuming shipping cost is correlated with sales)
# This is a proxy analysis, as we don't have actual shipping cost data
avg_sales_by_mode = dataset.groupby('Ship Mode')['Sales'].mean()
avg_sales_by_mode = avg_sales_by_mode.apply(lambda x: f"Rp{x:,.0f}") # Format to Rupiah
print("Average Sales by Mode (Proxy for Shipping Cost) in Rupiah:")
print(avg_sales_by_mode)

# Identify products with highest sales (potential proxy for high shipping costs)
products_highest_sales = dataset.groupby('Product Name')['Sales'].sum().sort_values(ascending=False).head(10)
products_highest_sales = products_highest_sales.apply(lambda x: f"Rp{x:,.0f}") # Format to Rupiah
print("\nProducts with Highest Sales (Potential for High Shipping Costs) in Rupiah:")
print(products_highest_sales)

# Analyze sales distribution (proxy for shipping cost distribution)
sales_distribution = dataset['Sales'].describe()
sales_distribution = sales_distribution.apply(lambda x: f"Rp{x:,.0f}" if isinstance(x, (int, float)) else x) # Format to Rupiah
print("\nSales Distribution (Proxy for Shipping Cost Distribution) in Rupiah:")
print(sales_distribution)

Average Sales by Mode (Proxy for Shipping Cost) in Rupiah:
Ship Mode
First Class       Rp228
Same Day          Rp236
Second Class      Rp236
Standard Class    Rp228
Name: Sales, dtype: object

Products with Highest Sales (Potential for High Shipping Costs) in Rupiah:
Product Name
Canon imageCLASS 2200 Advanced Copier                                          Rp61,600
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    Rp27,453
Cisco TelePresence System EX90 Videoconferencing Unit                          Rp22,638
HON 5400 Series Task Chairs for Big and Tall                                   Rp21,871
GBC DocuBind TL300 Electric Binding System                                     Rp19,823
GBC Ibimaster 500 Manual ProClick Binding System                               Rp19,024
Hewlett Packard LaserJet 3310 Copier                                           Rp18,840
HP Designjet T520 Inkjet Large Format Printer - 24" Color                      Rp18,375
GBC DocuBind P400 Electric Binding System                                      Rp17,965
High Speed Automatic Electric Letter Opener                                    Rp17,030
Name: Sales, dtype: object

Sales Distribution (Proxy for Shipping Cost Distribution) in Rupiah:
count     Rp9,994
mean        Rp230
std         Rp623
min           Rp0
25%          Rp17
50%          Rp54
75%         Rp210
max      Rp22,638
Name: Sales, dtype: object